<h1>Add a new actor</h1>

<form action="http://localhost:3000/actors/create_row_actor">
  Actor Name:
  <input name="actor_name" type="string">

  Actor Biography:
  <input name="actor_bio" type="text">

  Actor DOB:
  <input name="actor_dob" type="string">

  Actor Photo:
  <input name="actor_img_url" type="string">

  <button>Add Actor</button>
</form>

<a href="/actors">Cancel and go back</a>
