<h1>Actor Details</h1>


<p><%= @actor.actor_name %></p>

<p><%= @actor.actor_image_url %></p>

<a href="http://localhost:3000/actors/">Back</a>

<a href="http://localhost:3000/actors/edit_actor/<%= @actor.id %>">Edit</a>

<a href="http://localhost:3000/actors/delete_actors/<%= @actor.id %>">Delete</a>


