<h1>Add a new director</h1>

<form action="http://localhost:3000/directors/create_row_director">
  Director Name:
  <input name="director_name" type="string">

  Director Biography:
  <input name="director_bio" type="text">

  Director DOB:
  <input name="director_dob" type="string">

  Director Photo:
  <input name="director_img_url" type="string">

  <button>Add Director</button>
</form>

<a href="/directors">Cancel and go back</a>
